{% extends './base.html' %}

{% block title %} Home {% endblock %}

{% block container %}
<div class="row">

    {% for comic in data %}

        <a href="/comic/{{ comic.url }}">
            <div class="card">
                <img class="card-img-top" src="{{ comic.img_url }}">
                <h4 class="text-medium">{{ comic.name }}</h4>
            </div>
        </a>

    {% endfor %}

    <div class="pagination">
        <ul class="pagination2 btnround">
            {% if page|int != 1 %}
                <li><a href="/{{ page|int -1 }}">«</a></li>
            {% endif %}

            <li><a class="active" href="#" style="border:none !important;border-radius:5px;">{{ page }}/{{ pages_number }}</a></li>

            {% if page|int != pages_number %}
                <li><a href="/{{ page|int +1 }}">»</a></li>
            {% endif %}

        </ul>
    </div>


</div>
{% endblock %}
           
           
           

