{% extends './base.html' %}

{% block title %} Index {% endblock %}

{% block container %}
<div class="row">

    {% for comic in data %}

        <a href="/comic/{{ comic.url }}">
            <div class="card">
                <img class="card-img-top" src="{{ comic.img_url }}">
                <div class="card-body">
                <h5 class="card-title">{{ comic.name }}</h5>
                </div>
            </div>
        </a>

    {% endfor %}
    
    <div class="pagination">
        {% for number in range(1, pages_number+1, 1) %}
            
            {% if number == page %}
                <a href="/{{ number }}" class="active">{{ number }}</a>
            {% else %}
                <a href="/{{ number }}">{{ number }}</a>
            {% endif %}

        {% endfor %}
    </div>


</div>
{% endblock %}
           
           
           

