{% extends './base.html' %}

{% block title %} Issue #{{ issue_number }} {% endblock %}

{% block container %}
<div class="row">
    <h1 class="display-4 fst-italic">{{ comic_info[0] }} | Issue #{{ issue_number }}</h1>

    <div class="pages-container">

        {% for page_url in issue %}

            <br>
            <br>
            <p class="mb-0 text-bold text-center">Page {{ loop.index }}</p>
            <img src="{{ page_url }}" class="img-fluid">

        {% endfor %}

    </div>

    <div class="pagination">
        <ul class="pagination2 btnround">
            {% if issue_number|int != 1 %}
                <li><a href="/comic/{{ comic_name }}/{{ issue_number-1 }}">« Previous Issue</a></li>
            {% endif %}

            <li><a class="active" href="#" style="border:none !important;border-radius:5px;">{{ issue_number }}/{{ comic_info[5] }}</a></li>

            {% if issue_number != comic_info[5] %}
                <li><a href="/comic/{{ comic_name }}/{{ issue_number+1 }}">Next Issue »</a></li>
            {% endif %}

        </ul>
    </div>

</div>
{% endblock %}
           
           
           

