{% extends './base.html' %}

{% block title %} Search: {{ search_words }} {% endblock %}

{% block container %}
<div class="row">

    {% if resultados|length == 0 %}

        <h3 class="display-4 fst-italic" style="width: 100%;">Sorry! we couldn't find results for: "{{ search_words }}"</h3>

    {% else %}

        <h3 class="display-4 fst-italic" style="width: 100%;">Results for: "{{ search_words }}"</h3>

        {% for comic in resultados %}

            <a href="/comic/{{ comic.name }}">
                <div class="card">
                    <img class="card-img-top" src="https://readcomicsonline.ru/uploads/manga/{{ comic.name }}/cover/cover_250x350.jpg">
                    <h4 class="text-medium">{{ comic.title }}</h4>
                </div>
            </a>

        {% endfor %}

    {% endif %}


</div>
{% endblock %}
           
           
           

